// CONTAINERS
$container-wide: 1200px;
$container: 950px;

.container {
  max-width: $container;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;

  @include media-breakpoint-down(lg) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &--wide {
    @extend .container;
    max-width: $container-wide;
    @include media-breakpoint-between(lg, xl) {
      max-width: $container;
    }
  }
}

.entry-content {
  > * {
    max-width: $container;
    margin-left: auto !important;
    margin-right: auto !important;

    @include media-breakpoint-down(lg) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  > .alignwide {
    max-width: $container-wide;

    @include media-breakpoint-down(xl) {
      max-width: $container;
    }
    @include media-breakpoint-down(lg) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  > .alignfull {
    max-width: none;
    padding-left: 2rem;
    padding-right: 2rem;

    @include media-breakpoint-up(xl) {
      padding-left: 5rem;
      padding-right: 5rem;
    }

    @include media-breakpoint-down(xl) {
      /*max-width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;*/

      /*> * {
        max-width: $container;
      }*/
    }

    .alignwide {
      max-width: $container-wide;
      margin-left: auto !important;
      margin-right: auto !important;

      @include media-breakpoint-down(xl) {
        max-width: $container;
      }
    }
  }

  > .alignleft {
    float: left;
    margin-right: 2em;
  }

  > .alignright {
    float: right;
    margin-right: 2em;
  }
}

.entry-header,
.entry-footer,
.page-header,
.page-footer,
.page-content,
#breadcrumbs {
  @extend .container;
}

.wp-block-separator {
  border: none;
  border-top: 1px solid #eee;
  margin: 2.5rem auto 2rem;
}

.aligncenter,
.aligncenter img {
  text-align: center;
}

.wp-block-pullquote {
  border-top: 2px solid #7a716c;
  border-bottom: 2px solid #7a716c;
  padding: 1.35em 0 1rem;
  color: #7a716c;
}

.wp-block-gallery {
  &.aligncenter {
    justify-content: center;
  }

  .blocks-gallery-item {
    figure {
      align-items: center;
    }
  }
}

.wp-block-cover {
  .wp-block-cover__inner-container {
    > .wp-block-columns {
      margin: 0;
      @include media-breakpoint-down(sm) {
        // justify-content: center;
        width: 100%;
        flex-direction: column;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
.page-template-full-width-slim,
.full-width-slim-template {
  .entry-content,
  .page-content {
    > ul {
      padding-left: 40px;
    }
  }

  .featured-media {
    margin: 2rem auto 1rem;
  }
}

/* -------------------------------------------------------------------------- */
.left-sidebar-template,
.right-sidebar-template,
.both-sidebar-template {
	.entry-header,
	.entry-footer,
	.page-header,
	.page-footer,
	#breadcrumbs,
	.featured-media {
		max-width: 100%;
		width: 100%;
	}

	.entry-content, .page-content {
		> * {
			&:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
				max-width: 100%;
				width: 100%;
			}
		}
	}
}

.blog {
	.page-header,
	.blog-posts-wrap {
		@extend .container;
		max-width: $container;
	}
}

#breadcrumbs {
	margin-bottom: 1rem;
}

*[style^="font-size"] {
  > * {
    font-size: inherit;
  }
}
