/*!
 * Use this file to overwrite basic Bootstrap variables and to add your own variables.
 * To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder;
 * just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.
 */

// FONT SIZES
$font-80: 5rem;
$font-56: 3.5rem;
$font-48: 3rem;
$font-40: 2.5rem;
$font-35: 2.1875rem;
$font-30: 1.875rem;
$font-24: 1.5rem;
$font-20: 1.25rem;
$font-18: 1.125rem;
$font-16: 1rem;
$font-14: .875rem;
$font-12: .75rem;

// THEME FONTS
$primary-font: "neue-haas-unica",sans-serif;

// THEME COLORS
$black: #1D1D1D;
$yellow: #EBB500;
$blue: #0026C0;
$light-gray: #f9f9f9;
$white: #FFFFFF;

// ARRAY OF THEME COLORS
$color-array: (
	black: $black,
	yellow: $yellow,
	blue: $blue,
	light-gray: $light-gray,
	white: $white,
);

// APPLY BACKGROUND-COLOR AND COLOR PER EDITOR SETTINGS
@each $color, $code in $color-array {
	:root {
		.has-#{$color}-background-color {
			background-color: $code;
		}

		.has-#{$color}-color {
			color: $code;
		}
	}
}

// BOOTSTRAP VARIABLES
$link-color: $black;
$font-family-base: $primary-font;
$font-family-second: $primary-font;

/*$pagination-active-color: $rc-coffee;
$pagination-active-bg: $rc-coffee;
$pagination-active-color: $white;*/

$theme-colors: (
	"primary": $black,
	"secondary": $yellow,
	"black": $black,
	"blue": $blue,
	"light-gray": $light-gray,
);

$grid-breakpoints: (
	xs: 0,
	sm: 599px,
	md: 768px,
	lg: 992px,
	xl: 1100px,
	xxl: 1771px
);