/*!
 * Use this file to overwrite basic Bootstrap variables and to add your own variables.
 * To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder;
 * just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.
 */
:root {
	--body-color: #000;
}

$spurs-black: var(--wp--preset--color--spurs-black);
$spurs-white: var(--wp--preset--color--spurs-white);

// FONT SIZES
$font-48: 3rem;
$font-36: 2.25rem;
$font-30: 1.875rem;
$font-24: 1.5rem;
$font-20: 1.25rem;
$font-18: 1.125rem;
$font-16: 1rem;
$font-14: 0.875rem;
$font-12: 0.75rem;

// THEME FONTS
$body-font: "Lato", sans-serif;

// BOOTSTRAP VARIABLES
//$link-color: #444444;
//$pagination-active-bg: $deep-blue;
//$pagination-active-border-color: $charcoal;
$paragraph-margin-bottom: 1.5rem;
$spacer: 1.25rem;
$spacers: (
	0: 0,
	1: (
		$spacer * 0.25,
	),
	2: (
		$spacer * 0.5,
	),
	3: $spacer,
	4: (
		$spacer * 1.5,
	),
	5: (
		$spacer * 2,
	),
	6: (
		$spacer * 2.5,
	),
	7: (
		$spacer * 3,
	),
	8: (
		$spacer * 4,
	),
);

$grid-breakpoints: (
	xxs: 0,
	xs: 480px,
	sm: 600px,
	md: 782px,
	lg: 992px,
	xl: 1136px,
	xxl: 1456px,
	xxxl: 1936px,
);

$default_transition: all 0.3s ease-out;
$accessibility-color: rgba(0, 123, 255, 0.5);
