/*!
 * This file is where you add your wicked custom CSS/SCSS so do your thing and strut your styles.
 */

/* General Styles */
body {
  &.has-hero {
	.wrapper {
	  padding-top: 0;
	}
  }

  &.single {
	.entry-meta {
	  padding-bottom: 1.5rem;
	  display: flex;

	  > div:not(:first-child) {
		padding-left: 1rem;
		margin-left: 1rem;
		position: relative;

		&:before {
		  content: "|";
		  left: 0;
		  position: absolute;
		}
	  }
	}
  }

  .facetwp-type-pager {
	.facetwp-pager {
	  a {
		&.facetwp-page {
		  border: 1px solid;
		  padding: 5px 10px;

		  &.active, &:hover {
			border-color: $spurs-black;
			color: $spurs-black;
		  }
		}

		&:before, &:after {
		  content: none !important;
		}
	  }
	}
  }

  a[href="#"] {
	cursor: auto !important;
  }

  .gform_wrapper {
	margin-top: 1.5rem;

	.gfield {
	  label {
		font-size: 1rem;
		font-weight: normal;
		margin: 0;
	  }
	}

	.gform_footer {
	  input[type=submit] {
		@extend .btn;
		//@extend .btn-secondary;
	  }
	}
  }
}
