/* RESPONSIVE STYLE */
@include media-breakpoint-down(lg) {

}

@include media-breakpoint-down(md) {
	.wp-block-cover-image.has-parallax, .wp-block-cover.has-parallax {
		background-attachment: unset;
	}
	.wp-block-cover, .wp-block-cover-image {
		padding-left: 0;
		padding-right: 0;
	}
}

@include media-breakpoint-down(xs) {
	.wp-block-media-text {
		margin-bottom: 3rem;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);

		.wp-block-media-text__content {
			padding: 1rem;
		}
	}
}