/*!
 * Use this file to overwrite basic Bootstrap variables and to add your own variables.
 * To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder;
 * just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.
 */

$spurs-black: var(--wp--preset--color--spurs-black);
$spurs-white: var(--wp--preset--color--spurs-white);

// FONT SIZES
$font-48: 3rem;
$font-36: 2.25rem;
$font-30: 1.875rem;
$font-24: 1.5rem;
$font-20: 1.25rem;
$font-18: 1.125rem;
$font-16: 1rem;
$font-14: .875rem;
$font-12: .75rem;

// THEME FONTS
$body-font: 'Lato', sans-serif;

$default_transition: all 0.3s ease-out;
