* {
  box-sizing: border-box;
}

body {
  &.admin-bar {
	.main-header {
	  top: 32px;

	  @media screen and (max-width: 782px) {
		top: 46px;
	  }
	}
  }
}

a,
button,
input[type="submit"] {
  transition: all 0.3s ease-in-out;

  &:hover {
	text-decoration: none;
  }
}

.btn {
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px 45px;
  border-radius: 0;
  letter-spacing: 2px;
}

.bg-image {
  display: block;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;

  /*@include media-breakpoint-down(sm) {
	max-height: 275px;
	background-position: center top;
  }*/
}

.wp-block-button {
  .wp-block-button__link {
	@extend .btn;
  }

  &.is-secondary {
	.wp-block-button__link {
	  //@extend .btn-secondary;
	}
  }

  &.is-primary {
	.wp-block-button__link {
	  //@extend .btn-primary;
	}
  }
}

:focus {
  outline: none !important;
  box-shadow: none !important;
}

.wrapper {
  &.remove-padding {
	&--top {
	  padding-top: 127px;
	}

	&--bottom {
	  padding-bottom: 0;
	}

	&--both {
	  padding-top: 127px;
	  padding-bottom: 0;
	}
  }
}

iframe {
  display: flex;
}

*[class*="has-text-color"] {
  * {
	color: inherit;
  }
}

ul.list-unstyled {
  list-style: none;
  padding-left: 0;
}
